<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
<form>
  <div class="">
    <div>
      <div style='width: 60%;   float: left;'>
        <img class="img-responsive" src="assets/images/DemoApp.png" width="60%" height="60%" [border]="0" />
      </div>
      <br>
      <div style='width: 40%; float: right;'>
        <p>
          <span>
            Hola, gracias por el reto, el cual fue de gran utilidad para ponerme a prueba con respecto a tecnologías con las que no había trabajado y debía de implementar en un tiempo limitado.
              En esta oprotunidad he refozado conocimentos sobre:<br>
              Azure Web Apps<br>
              GitHub + CI CD<br>
              Contenedores y despligue automatizado<br>
              Node.JS y Angular<br>
              CosmosDB API para Mongo DB <br>
              <br>
              <br>
              
          </span>
        </p>
      </div>
      <a href="/login">LogIn</a>
    </div>
  </div>
</form>