
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 
  
  <div class="container">
    <form  method="post">
      <p>Detalle del Cliente</p>
      <label><p> CLIENTNUM </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.CLIENTNUM'><br>
      <label><p> Attrition_Flag </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Attrition_Flag'><br>
      <label><p> Customer_Age </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Customer_Age'><br>
      <label><p> Gender </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Gender'><br>
      <label><p> Dependent_count </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Dependent_count'><br>
      <label><p> Education_Level </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Education_Level'><br>
      <label><p> Marital_Status </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Marital_Status'><br>
      <label><p> Income_Category </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Income_Category'><br>
      <label><p> Card_Category </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Card_Category'><br>
      <label><p> Months_on_book </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Months_on_book'><br>
      <label><p> Total_Relationship_Count </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Total_Relationship_Count'><br>
      <label><p> Months_Inactive_12_mon </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Months_Inactive_12_mon'><br>
      <label><p> Contacts_Count_12_mon </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Contacts_Count_12_mon'><br>
      <label><p> Credit_Limit </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Credit_Limit'><br>
      <label><p> Total_Revolving_Bal </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Total_Revolving_Bal'><br>
      <label><p> Avg_Open_To_Buy </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Avg_Open_To_Buy'><br>
      <label><p> Total_Amt_Chng_Q4_Q1 </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Total_Amt_Chng_Q4_Q1'><br>
      <label><p> Total_Trans_Amt </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Total_Trans_Amt'><br>
      <label><p> Total_Trans_Ct </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Total_Trans_Ct'><br>
      <label><p> Total_Ct_Chng_Q4_Q1 </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Total_Ct_Chng_Q4_Q1'><br>
      <label><p> Avg_Utilization_Ratio </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Avg_Utilization_Ratio'><br>
      <label><p> Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1 </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1'><br>
      <label><p> Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2 </p></label><input type='text' title='.' readonly='readonly' [(ngModel)]='cli.Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'><br>
    </form>
  </div>